/* nav bar section start */
* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: 0px;
}

.header {
    width: auto;
    position: sticky;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0 5px rgb(190, 190, 190, 0.5);
    z-index: 112;
    transition: 0.4s ease;
}
.header.sticky{
    padding: 0 9.5%;
}

.logo img {
    width: 200px;
}

ul {
    list-style: none;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    position: relative;
    margin-right: 20px;
    list-style: none;
    position: relative;
}

#nav1 li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
}

li:hover,
.active {
    color: #d30d0d;
}

#addBtn {
    position: relative;
    color: #fff;
    background-color: #d30d0d;
    padding: 1.1rem 1.3rem;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.7s;
}

#addBtn:hover {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    display: none;
}

.drop-down span {
    border-bottom: 1px solid rgb(190, 190, 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}

.drop-down span a {
    transition: 0.4 ease;
}

.drop-down span a:hover {
    font-size: 1.1rem;
    transition: 0.4s;
    padding-left: 0.4rem;
}

#nav1 li:hover .drop-down {
    display: flex;
}
#menu{
    display: none;
}

/* media query */
@media(max-width:900px) {
    #nav1 li {
        padding: 1rem 0;
    }

    #addBtn {
        text-align: center;
    }

}

@media(max-width:740px) {
    .header{
        width: 100%;
    }
    #nav1 {
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background-color: #fff;
        box-shadow: 0 0 5px rgb(190, 190, 190, 0.5),
            0 0 10px rgb(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        justify-content: center;
        display: block;
        transform:translateX(-1000px);
    }
    #nav1.activ{
        transform: translateX(0px);
    }

    #addBtn {
        text-align: center;
        width: 25%;
    }
    .drop-down{
        position: sticky;
        display: none;
    } 
    #menu{
        font-size: 2.5rem;
        display: flex;
        cursor: pointer;
    }

}

@media(max-width:400px) {
    .logo img {
        width: 120px;
    }
}
/* footer */
.footer{
    background-color: #141622;
}
.footer .footer-row{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
.footer-row .footer-col img{
    width: 200px;
    height: 50px;
    margin-bottom: 1rem;
}
.footer-row .footer-col p{
    color: #fff;
    font-size: 1.3;
    padding-bottom: 2rem;
}
.footer-row .footer-col span{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.footer-row .footer-col span i{
    background-color: #d30d0d;
    padding: 0.3rem;
    border-radius: 10px;
    margin-right: 5px;
    font-size:18px ;
}
.footer-row .footer-col h5{
    color: #fff;
    font-size: 1.6rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}
.footer-row .footer-col h5::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    bottom: 0;
}
.footer-row .footer-col h5::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #d30d0d;
    bottom: 0;
    left: 40px;
}
.footer-row .footer-col a{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
    transition: 0.4s ease;
    text-decoration: none;
}
.footer-row .footer-col a i{
    padding-right: 0.7rem;
    font-size: .7rem;
    color: #d30d0d;
}
.footer-row .footer-col a:hover{
    padding-left: 5px;
    color: #d30d0d;
}
.footer-row .footer-col input{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #141622;
    margin-top: 1.2rem;
}
.footer-row .footer-col button{
 background-color: #d30d0d;
 padding: 0.6rem 1.2rem;
 color: #fff;
 font-size: 1.3rem;
 cursor: pointer;
   transition: 0.4s ease;
   margin-top: 10px;
}
.footer-row .footer-col button:hover{
    background-color: #141622;
    border: 2px solid #fff;
}
.footer-bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 12rem;
    background-color: #3a3737;
    position: relative;
    text-align: center;
}
.footer-bottom p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer-bottom p span{
    color: #d30d0d;
}
.footer-bottom .social{
    position: absolute;
    background-color: #d30d0d;
    padding: 1rem 16rem;
    right: 0;
    bottom: 0;
    clip-path:polygon(8% 0%,100% 0%,100% 100%, 5% 100%);
}
.footer-bottom .social i{
    color: #d30d0d;
    background-color: #fff;
    font-size: 1.3rem;
    margin-left: 20px;
    padding: .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}
.footer-bottom .social i:hover{
    transform: scale(1.1);
}
@media(max-width:1360px) {
    .footer-bottom{
        display: none;
    }
    
}
@media(max-width:1000px) {
    .footer .footer-row{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media(max-width:600px) {
    .footer .footer-row{
        text-align: center;
        grid-template-columns: 1fr;
    }
}
/* end footer */
.inventory{
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/type/bg-type.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.inventory h2{
    font-size: 2.7rem;
    color: #fff;

}
.inventory .link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    color: #fff;
    padding-top: 1.4rem;
}
.inventory .link a{
   color: #fff;
   font-size: 1.3rem;
   text-decoration: none;
}
.inventory .link a:hover{
    color: #d30d0d;
}
.inventory .link span,
.inventory .link p{
    font-size: 1.2rem;
    color: #fff;
}
section{
    display: grid;
    justify-content: center;
    text-align: justify;
    padding: 3rem 7rem;
}
/* show cars with search */
  .arrivals .arr-row.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.3rem;
  }
.arrivals.show{
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    margin: auto;
    gap: 2.5rem;
}
.arrivals.show .col-1{
    flex: 1 1 2rem;
    width: 200px;
    text-align: justify;
}

.arrivals.show .col-1 h5{
    font-size: 1.7rem;
    font-weight: 550;
    margin-bottom: 1.6rem;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
}
.arrivals.show .col-1 h5::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70px;
    height: 3px;
    border-radius: 3px;
    background-color: #d30d0d;
}
.show-col .searchBox{
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 1rem;
}
.show-col  .searchBox .searchbar{
    border: 1px solid #d30d0d;
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 4px;
    margin-top: 16px;
}
.show-col  .searchBox i{
    position: absolute;
    top: 10px;
    right: -19px;
    font-size: 1.5rem;
    color: #d30d0d;
}

.arrivals.show .col-1 .checkBox{
    font-size: 1.1rem;
}
.arrivals.show .col-1 .checkBox input{
    margin-right: 0.4rem;
    accent-color: #d30d0d;
    margin-bottom: 1.5rem;
}
.arrivals.show .col-1 .show-col{
    background-color: #ffff;
    padding: 1.7rem 2rem;
    text-align: justify;
    box-shadow: 0 0 2px #646161;
    margin-bottom: 1rem;
}


.arrivals.show .col-2{
    flex: 1 1 50rem;
}
.arrivals.show .col-2 .image{
    height: 16rem;
}
.arrivals{
    text-align: center;
    padding-top: 5rem;

}
.arrivals h4{
    color: #d30d0d;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 550;
    letter-spacing: 2px;
}
.arrivals h4 i{
    padding-right: 0.5rem;
}
.arrivals h1{
    padding-bottom: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.arrivals h1 span{
    color: #d30d0d;
}
.arrivals .arr-row{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.arr-row .arr-col{
    padding: 0.7rem;
    box-shadow: 0 0 5px #646161;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
    height: auto;
    
    
}
.arr-row .arr-col .img{
   width: 100%;
   height: 12rem;
   overflow: hidden;
   border-radius: 10px;
   transition: 0.5s ease;
}
.arr-row .arr-col .img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.arr-row .arr-col .img:hover img{
   transform: scale(1.2);
}
.arr-row .arr-col h5{
    font-size: 1.3rem;
    padding:1rem 0 ;
}
.arr-row .arr-col .rating{
    display: flex;
    gap: 0.2rem;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.3rem;
    margin-right: 2.9rem;
}
.arr-row .arr-col .rating .stars{
    font-size: 0.8rem;
    color:#d30d0d;
}
.arr-col .rating .review span{
    font-weight: 600;
}
.arr-col .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 0.3rem;
}
.arr-col .features span{
    /* font-size: 1.2rem; */
    color: #646161;
}
.arr-col .features span i{
    color: #d30d0d;
    padding-right: 0.3rem;
}
.arr-col .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arr-col .price p{
    color: #d30d0d;
    font-size: 1.4rem;
    font-weight: 500;
}
.arr-col .price button{
    background-color: #d30d0d;
    padding: 0.5rem 1.2rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}
.arr-col .price button:hover{
    background-color: #141622;
    transition: 0.5s;
}
@media(max-width:950px) {
    section:nth-child(2){
        padding: 0;
    }
    
}
@media(max-width:775px) {
    .arr-row .arr-col{
        width: 33%;
    }
    
}
@media(max-width:560px) {
    .arr-row .arr-col{
        width: 80%;
    }
    
}
.arrivals.show .col-2 .head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #646161;
    margin-bottom: 2rem;
}
.arrivals.show .col-2 .head span{
 font-size: 1.5rem;
 font-weight: 500;
}
.arrivals.show .col-2 .head i{
    font-size: 1.8rem;
    margin-right:1.9rem;
    margin-top: .7rem;
}
.arrivals.show .col-2 .head i.fa-table-cells-large{
    color: #d30d0d;
}
.arrivals.show .col-2 .head select{
    border: 1px solid #d30d0d;
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    border-radius: 4px;

}