/* nav bar section start */
* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: 0px;
    scroll-behavior: smooth;
}

.header {
    width: auto;
    position: sticky;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0 5px rgb(190, 190, 190, 0.5);
    z-index: 112;
    transition: 0.4s ease;
}
.header.sticky{
    padding: 0 9.5%;
}

.logo img {
    width: 200px;
}

ul {
    list-style: none;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    position: relative;
    margin-right: 20px;
    list-style: none;
    position: relative;
}

#nav1 li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
}

li:hover,
.active {
    color: #d30d0d;
}

#addBtn {
    position: relative;
    color: #fff;
    background-color: #d30d0d;
    padding: 1.1rem 1.3rem;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.7s;
}

#addBtn:hover {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    display: none;
}

.drop-down span {
    border-bottom: 1px solid rgb(190, 190, 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}

.drop-down span a {
    transition: 0.4 ease;
}

.drop-down span a:hover {
    font-size: 1.1rem;
    transition: 0.4s;
    padding-left: 0.4rem;
}

#nav1 li:hover .drop-down {
    display: flex;
}
#menu{
    display: none;
}

/* media query */
@media(max-width:900px) {
    #nav1 li {
        padding: 1rem 0;
    }

    #addBtn {
        text-align: center;
    }

}

@media(max-width:740px) {
    .header{
        width: 100%;
    }
    #nav1 {
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background-color: #fff;
        box-shadow: 0 0 5px rgb(190, 190, 190, 0.5),
            0 0 10px rgb(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s;
        justify-content: center;
        display: block;
        transform:translateX(-1000px);
    }
    #nav1.activ{
        transform: translateX(0px);
    }

    #addBtn {
        text-align: center;
        width: 25%;
    }
    .drop-down{
        position: sticky;
        display: none;
    } 
    #menu{
        font-size: 2.5rem;
        display: flex;
        cursor: pointer;
    }

}

@media(max-width:400px) {
    .logo img {
        width: 120px;
    }
}
/* section one in home start */
.home .slide{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
}
.home .swiper-wrapper .slide-one{
    background:
    linear-gradient(to bottom,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8),rgb(255,0,0)),
    url(./img/home/bg-hero-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.home .swiper-wrapper .slide-two{
    background:
    linear-gradient(to bottom,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8),rgb(37, 190, 255)),
    url(./img/home/bg-hero-1.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.home .swiper-wrapper .slide .col-1{
    flex:1 1 20rem;
}
.home .swiper-wrapper .slide .col-1 h4{
    font-size: 2rem;
    color: #d30d0d;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 3rem;
}
.home .swiper-wrapper .slide .col-1 h1{
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 3px;

}
.home .swiper-wrapper .slide .col-1 h1 span{
    color: #d30d0d;
}
.home .swiper-wrapper .slide .col-1 p{
    color: #fff;
    font-size: 1.4;
    letter-spacing: 2px;
    padding-top: 2rem;
}
.home .swiper-wrapper .slide .col-1 .buttons{
 display: flex;
 flex-wrap: wrap;
 gap: 1rem;
 padding-top: 3rem;
}
.home .swiper-wrapper .slide .col-1 .buttons button{
    padding: 1rem 2.5rem 1rem 1.7rem;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 10px;
    cursor:pointer ;
    position: relative;
    transition: 0.5 ease;
border: none;
}
.home .swiper-wrapper .slide .col-1 .buttons button i{
    font-size: 1.3rem;
    position: absolute;
    top:33%;
    right: -0.2rem;
    transform: translate(-40%);
}
.home .swiper-wrapper .slide .col-1 .buttons button.AboutUs{
    background-color: #d30d0d;
    color: #fff;
}
.home .swiper-wrapper .slide .col-1 .buttons button.Shop{
    background-color: #fff;
    color: #d30d0d;
}
.home .swiper-wrapper .slide .col-1 .buttons button.AboutUs:hover,
.home .swiper-wrapper .slide .col-1 .buttons button.Shop:hover{
    background-color: black;
    color: #fff;
    transition: 0.5s;
}
.home .swiper-wrapper .slide .col-2{
    flex:1 1 40rem;
    padding-top: 3rem;
}
.home .swiper-wrapper .slide .col-2 img{
    width: 85%;
    height: 55vh;
}
.home .swiper [class^="swiper-button-"]{
    color: #d30d0d;
}
/* search section */
.search{
    position: relative;
    padding: 0 11rem;
    background: #f7f2f2;
}
.search .find{
    max-width: 1100px;
    width: 100%;
    padding: 2.5rem;
    position: absolute;
    top:-7rem;
    z-index: 111;
    background-color: #fff;
    box-shadow: 0 0 5px rgb(190, 190, 190, 0.5),
    0 0 10px rgb(190, 190, 190, 0.5);
    overflow: hidden;
}
.find .find-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2rem;
}
.find h3{
    font-size: 2.4rem;
    letter-spacing: 1px;
    padding-bottom:2rem ;
}
.find .find-row h4{
    font-size: 1.5rem;
    padding-bottom: 1.3rem;
}
.find .find-row select{
    border: 1px solid #646161;
    font-size: 1.3rem;
    width: 200px;
    font-weight: 400;
    height: 40px;
    padding: 0 1rem;
    color: #646161;
    text-align: center;
    
    
}
.find .find-row select option{
    padding: 1rem;
    border-bottom: 1px solid #646161;
}
.search .search-btn button{
background-color: #d30d0d;
margin-top: 4rem;
padding: 1rem;
border-radius: 0.5rem;
color: #fff;
font-size: 1.3rem;
cursor: pointer;
transition: 0.5s ease;
}
.search .search-btn button i{
    padding-right: 0.5rem;
}
.search .search-btn button:hover{
    background-color: black;
    color: #fff;
}
/* market section */
section{
    padding: 2.5rem 8rem;

}
.market{
    padding-top: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.market .col-3{
    flex: 1 1 20rem;
    position: relative;
}
.market .col-3 img.one{
    margin-top: 0.5rem;
    width: 100%;
    height: 65vh;
}
.market .col-4{
    flex: 1 1 20rem;
}
.market .col-3 .service{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #141622;
    padding: 1rem;
    border-radius: 20px;
    
}
.market .col-3 .service span{
    color:#fff ;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
}
.market .col-3 .service img.tow{
    width: 80px;
}
.market .col-4 h4{
    color: #d30d0d;
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-size: 500;
    padding-bottom: 1rem;
}
.market .col-4 h4 i{
    padding-right: 0.5rem;
}
.market .col-4 h3{
  font-size: 4rem;
  padding-bottom: 1.8rem;
  text-transform: capitalize;
}
.market .col-4 h3 span{
    color: #d30d0d;
}
.market .col-4 p.text{
    font-size: 1.4rem;
    padding-bottom:1rem;

}
.market .col-4 .p1{
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.market .col-4 .p1 i{
    padding-right: 0.5rem;
    color: #d30d0d;
    font-size: 1.4rem;
}
.market .col-4 button{
    position: relative;
    margin-top: 0.5rem;
    background-color: #d30d0d;
    color: #fff;
    padding:  1rem 3rem;
    font-size: 1.4rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.market .col-4 button i{
    padding-left: 1rem;
}
.market .col-4 button:hover{
    background-color: #141622;
    color: #fff;
}
@media(max-width:1353px){
    .search .find{
        max-width:85%;

    }
    .search{
        padding: 0 0;
    }
}
@media(max-width:900px){
    .find .find-row{
        grid-template-columns: 1fr 1fr;
    }
    .market{
        padding-top: 40rem;
    }
    section{
        padding: 2rem 1rem;
    }
}
@media(max-width:470px){
    .find .find-row{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .market{
        padding-top: 60rem;
    }
    .market .col-4 h3{
        font-size: 2.5rem;
    }
    .market .col-4{
        text-align: center;
    }
}
/* counter section */
.counter{
    width: 100%;
    min-height:50vh ;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    background-image: url(./img/icons/bg-counter.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
}
.counter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.counter .container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    padding: 0.3rem;
}
.counter .container span.num{
    padding: 1rem 0;
    font-size: 4.2rem;
    font-weight: 500;
    color: #fff;
}
.counter .container span.text{
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
}
.counter .container span.text i{
    padding-right: 0.5rem;
}
@media (max-width:700px) {
    .counter{
        padding-top: 2rem;
        padding-bottom: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:470px) {
    .counter{
        grid-template-columns: 1fr;
    }
}
/* arrivals */
.arrivals{
    text-align: center;
    padding-top: 5rem;

}
.arrivals h4{
    color: #d30d0d;
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 550;
    letter-spacing: 2px;
}
.arrivals h4 i{
    padding-right: 0.5rem;
}
.arrivals h1{
    padding-bottom: 3rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.arrivals h1 span{
    color: #d30d0d;
}
.arrivals .arr-row{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}
.arr-row .arr-col{
    width: 20%;
    padding: 0.7rem;
    box-shadow: 0 0 5px #646161;
    background-color: #fff;
    border-radius: 10px;
    text-align: justify;
    height: auto;
    
}
.arr-row .arr-col .img{
   width: 100%;
   height: 12rem;
   overflow: hidden;
   border-radius: 10px;
   transition: 0.5s ease;
}
.arr-row .arr-col .img img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.arr-row .arr-col .img:hover img{
   transform: scale(1.2);
}
.arr-row .arr-col h5{
    font-size: 1.3rem;
    padding:1rem 0 ;
}
.arr-row .arr-col .rating{
    display: flex;
    gap: 0.4rem;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.3rem;
}
.arr-row .arr-col .rating .stars{
    font-size: 0.8rem;
    color:#d30d0d;
}
.arr-col .rating .review span{
    font-weight: 600;
}
.arr-col .features{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 0.3rem;
}
.arr-col .features span{
    /* font-size: 1.2rem; */
    color: #646161;
}
.arr-col .features span i{
    color: #d30d0d;
    padding-right: 0.3rem;
}
.arr-col .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arr-col .price p{
    color: #d30d0d;
    font-size: 1.4rem;
    font-weight: 500;
}
.arr-col .price button{
    background-color: #d30d0d;
    padding: 0.5rem 1.2rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
    border: none;
}
.arr-col .price button:hover{
    background-color: #141622;
    transition: 0.5s;
}
@media(max-width:950px) {
    section:nth-child(2){
        padding: 0;
    }
    
}
@media(max-width:775px) {
    .arr-row .arr-col{
        width: 33%;
    }
    
}
@media(max-width:560px) {
    .arr-row .arr-col{
        width: 80%;
    }
    
}
/* footer */
.footer{
    background-color: #141622;
}
.footer .footer-row{
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}
.footer-row .footer-col img{
    width: 200px;
    height: 50px;
    margin-bottom: 1rem;
}
.footer-row .footer-col p{
    color: #fff;
    font-size: 1.3;
    padding-bottom: 2rem;
}
.footer-row .footer-col span{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 1rem;
}
.footer-row .footer-col span i{
    background-color: #d30d0d;
    padding: 0.3rem;
    border-radius: 10px;
    margin-right: 5px;
    font-size:18px ;
}
.footer-row .footer-col h5{
    color: #fff;
    font-size: 1.6rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}
.footer-row .footer-col h5::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    bottom: 0;
}
.footer-row .footer-col h5::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #d30d0d;
    bottom: 0;
    left: 40px;
}
.footer-row .footer-col a{
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
    transition: 0.4s ease;
    text-decoration: none;
}
.footer-row .footer-col a i{
    padding-right: 0.7rem;
    font-size: .7rem;
    color: #d30d0d;
}
.footer-row .footer-col a:hover{
    padding-left: 5px;
    color: #d30d0d;
}
.footer-row .footer-col input{
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #141622;
    margin-top: 1.2rem;
}
.footer-row .footer-col button{
 background-color: #d30d0d;
 padding: 0.6rem 1.2rem;
 color: #fff;
 font-size: 1.3rem;
 cursor: pointer;
   transition: 0.4s ease;
   margin-top: 10px;
}
.footer-row .footer-col button:hover{
    background-color: #141622;
    border: 2px solid #fff;
}
.footer-bottom{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 12rem;
    background-color: #3a3737;
    position: relative;
    text-align: center;
}
.footer-bottom p{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.footer-bottom p span{
    color: #d30d0d;
}
.footer-bottom .social{
    position: absolute;
    background-color: #d30d0d;
    padding: 1rem 16rem;
    right: 0;
    bottom: 0;
    clip-path:polygon(8% 0%,100% 0%,100% 100%, 5% 100%);
}
.footer-bottom .social i{
    color: #d30d0d;
    background-color: #fff;
    font-size: 1.3rem;
    margin-left: 20px;
    padding: .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}
.footer-bottom .social i:hover{
    transform: scale(1.1);
}
@media(max-width:1360px) {
    .footer-bottom{
        display: none;
    }
    
}
@media(max-width:1000px) {
    .footer .footer-row{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media(max-width:600px) {
    .footer .footer-row{
        text-align: center;
        grid-template-columns: 1fr;
    }
    
}

.with{
    margin-top: 4%;
}