* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: 0px;
}

.header {
    width: auto;
    position: sticky;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0 5px rgb(190, 190, 190, 0.5);
    z-index: 112;
    transition: 0.4s ease;
}

.header.sticky {
    padding: 0 9.5%;
}

.logo img {
    width: 200px;
}

ul {
    list-style: none;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    position: relative;
    margin-right: 20px;
    list-style: none;
    position: relative;
}

#nav1 li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
}

li:hover,
.active {
    color: #d30d0d;
}

#addBtn {
    position: relative;
    color: #fff;
    background-color: #d30d0d;
    padding: 1.1rem 1.3rem;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.7s;
}

#addBtn:hover {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    display: none;
}

.drop-down span {
    border-bottom: 1px solid rgb(190, 190, 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}

.drop-down span a {
    transition: 0.4 ease;
}

.drop-down span a:hover {
    font-size: 1.1rem;
    transition: 0.4s;
    padding-left: 0.4rem;
}

#nav1 li:hover .drop-down {
    display: flex;
}

#menu {
    display: none;
}

/* media query */
@media(max-width:900px) {
    #nav1 li {
        padding: 1rem 0;
    }

    #addBtn {
        text-align: center;
    }

}

@media(max-width:740px) {
    .header {
        width: 100%;
    }

    #nav1 {
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background-color: #fff;
        box-shadow: 0 0 5px rgb(190, 190, 190, 0.5),
            0 0 10px rgb(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        justify-content: center;
        display: block;
        transform: translateX(-1000px);
    }

    #nav1.activ {
        transform: translateX(0px);
    }

    #addBtn {
        text-align: center;
        width: 25%;
    }

    .drop-down {
        position: sticky;
        display: none;
    }

    #menu {
        font-size: 2.5rem;
        display: flex;
        cursor: pointer;
    }

}

@media(max-width:400px) {
    .logo img {
        width: 120px;
    }
}

/* footer */
.footer {
    background-color: #141622;
}

.footer .footer-row {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.footer-row .footer-col img {
    width: 200px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer-row .footer-col p {
    color: #fff;
    font-size: 1.3;
    padding-bottom: 2rem;
}

.footer-row .footer-col span {
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.footer-row .footer-col span i {
    background-color: #d30d0d;
    padding: 0.3rem;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 18px;
}

.footer-row .footer-col h5 {
    color: #fff;
    font-size: 1.6rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}

.footer-row .footer-col h5::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    bottom: 0;
}

.footer-row .footer-col h5::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #d30d0d;
    bottom: 0;
    left: 40px;
}

.footer-row .footer-col a {
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
    transition: 0.4s ease;
    text-decoration: none;
}

.footer-row .footer-col a i {
    padding-right: 0.7rem;
    font-size: .7rem;
    color: #d30d0d;
}

.footer-row .footer-col a:hover {
    padding-left: 5px;
    color: #d30d0d;
}

.footer-row .footer-col input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #141622;
    margin-top: 1.2rem;
}

.footer-row .footer-col button {
    background-color: #d30d0d;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 10px;
}

.footer-row .footer-col button:hover {
    background-color: #141622;
    border: 2px solid #fff;
}

.footer-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 12rem;
    background-color: #3a3737;
    position: relative;
    text-align: center;
}

.footer-bottom p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer-bottom p span {
    color: #d30d0d;
}

.footer-bottom .social {
    position: absolute;
    background-color: #d30d0d;
    padding: 1rem 16rem;
    right: 0;
    bottom: 0;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 5% 100%);
}

.footer-bottom .social i {
    color: #d30d0d;
    background-color: #fff;
    font-size: 1.3rem;
    margin-left: 20px;
    padding: .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}

.footer-bottom .social i:hover {
    transform: scale(1.1);
}

@media(max-width:1360px) {
    .footer-bottom {
        display: none;
    }

}

@media(max-width:1000px) {
    .footer .footer-row {
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:600px) {
    .footer .footer-row {
        text-align: center;
        grid-template-columns: 1fr;
    }
}
/* Style for the single car rental section */
#car_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.singleimg img {
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.singleimg img:hover {
    transform: scale(1.05);
}

.information {
    /* flex-grow: 1; */
    text-align: center;
    padding: 0 20px;
}

.information div {
    margin-top: 2%;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.informations {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
    padding: 10px 0;
}

.informations > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.informations > div span {
    margin-right: 10px;
    color: #555;
}

.informations > div span i {
    color: #d30d0d;
    margin-right: 5px;
}

.price {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.price h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price span {
    font-size: 25px;
    color: #d30d0d; /* Price note color */
}

button#submit {
    width: 50%;
    background-color: #d30d0d;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button#submit:hover {
    background-color: #1a1a1a;
}
#comment{
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
#comments {
    overflow-y: scroll;
    height: 40vh;
  }
  
  #comments::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
  }
  
  #comments::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the tracking area */
  }
  
  #comments::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar */
    border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  }
  
  #comments::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
  
