body {
    background: #f5f5f5;
}

.ui-w-80 {
    width : 80px !important;
    height: auto;
}

.btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color: #26B4FF;
    background  : transparent;
    color       : #26B4FF;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}

.btn-facebook {
    border-color: rgba(0, 0, 0, 0);
    background  : #3B5998;
    color       : #fff;
}

.btn-instagram {
    border-color: rgba(0, 0, 0, 0);
    background  : #000;
    color       : #fff;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
section{
    margin-bottom: 20px;
}
* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    box-sizing: 0px;
}

.header {
    width: auto;
    position: sticky;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 0 5px rgb(190, 190, 190, 0.5);
    z-index: 112;
    transition: 0.4s ease;
}

.header.sticky {
    padding: 0 9.5%;
}

.logo img {
    width: 200px;
}

ul {
    list-style: none;
}

#nav1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    position: relative;
    margin-right: 20px;
    list-style: none;
    position: relative;
}

#nav1 li a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
}

li:hover,
.active {
    color: #d30d0d;
}

#addBtn {
    position: relative;
    color: #fff;
    background-color: #d30d0d;
    padding: 1.1rem 1.3rem;
    border-radius: 14px;
    cursor: pointer;
    transition: 0.7s;
}

#addBtn:hover {
    background-color: black;
    color: #fff;
    border-radius: 10px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.drop-down {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(190, 190, 190, 0.5);
    padding: 1rem 0 0;
    display: none;
}

.drop-down span {
    border-bottom: 1px solid rgb(190, 190, 190, 0.5);
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    z-index: 100;
    overflow: hidden;
}

.drop-down span a {
    transition: 0.4 ease;
}

.drop-down span a:hover {
    font-size: 1.1rem;
    transition: 0.4s;
    padding-left: 0.4rem;
}

#nav1 li:hover .drop-down {
    display: flex;
}

#menu {
    display: none;
}

/* media query */
@media(max-width:900px) {
    #nav1 li {
        padding: 1rem 0;
    }

    #addBtn {
        text-align: center;
    }

}

@media(max-width:740px) {
    .header {
        width: 100%;
    }

    #nav1 {
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0px;
        background-color: #fff;
        box-shadow: 0 0 5px rgb(190, 190, 190, 0.5),
            0 0 10px rgb(190, 190, 190, 0.5);
        padding-left: 30px;
        transition: 0.5s ease-in-out;
        justify-content: center;
        display: block;
        transform: translateX(-1000px);
    }

    #nav1.activ {
        transform: translateX(0px);
    }

    #addBtn {
        text-align: center;
        width: 25%;
    }

    .drop-down {
        position: sticky;
        display: none;
    }

    #menu {
        font-size: 2.5rem;
        display: flex;
        cursor: pointer;
    }

}

@media(max-width:400px) {
    .logo img {
        width: 120px;
    }
}

/* footer */
.footer {
    background-color: #141622;
}

.footer .footer-row {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.footer-row .footer-col img {
    width: 200px;
    height: 50px;
    margin-bottom: 1rem;
}

.footer-row .footer-col p {
    color: #fff;
    font-size: 1.3;
    padding-bottom: 2rem;
}

.footer-row .footer-col span {
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.footer-row .footer-col span i {
    background-color: #d30d0d;
    padding: 0.3rem;
    border-radius: 10px;
    margin-right: 5px;
    font-size: 18px;
}

.footer-row .footer-col h5 {
    color: #fff;
    font-size: 1.6rem;
    margin: 0.8rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}

.footer-row .footer-col h5::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    bottom: 0;
}

.footer-row .footer-col h5::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background-color: #d30d0d;
    bottom: 0;
    left: 40px;
}

.footer-row .footer-col a {
    display: block;
    color: #fff;
    font-size: 1rem;
    padding-top: 1rem;
    transition: 0.4s ease;
    text-decoration: none;
}

.footer-row .footer-col a i {
    padding-right: 0.7rem;
    font-size: .7rem;
    color: #d30d0d;
}

.footer-row .footer-col a:hover {
    padding-left: 5px;
    color: #d30d0d;
}

.footer-row .footer-col input {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    padding-left: 10px;
    color: #141622;
    margin-top: 1.2rem;
}

.footer-row .footer-col button {
    background-color: #d30d0d;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 10px;
}

.footer-row .footer-col button:hover {
    background-color: #141622;
    border: 2px solid #fff;
}

.footer-bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5rem 12rem;
    background-color: #3a3737;
    position: relative;
    text-align: center;
}

.footer-bottom p {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.footer-bottom p span {
    color: #d30d0d;
}

.footer-bottom .social {
    position: absolute;
    background-color: #d30d0d;
    padding: 1rem 16rem;
    right: 0;
    bottom: 0;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 5% 100%);
}

.footer-bottom .social i {
    color: #d30d0d;
    background-color: #fff;
    font-size: 1.3rem;
    margin-left: 20px;
    padding: .8rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
}

.footer-bottom .social i:hover {
    transform: scale(1.1);
}

@media(max-width:1360px) {
    .footer-bottom {
        display: none;
    }

}

@media(max-width:1000px) {
    .footer .footer-row {
        grid-template-columns: 1fr 1fr;
    }

}

@media(max-width:600px) {
    .footer .footer-row {
        text-align: center;
        grid-template-columns: 1fr;
    }
}